.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* Changed from 100vh */
  flex: 1;
}

.main {
  flex: 1;
}

/*Header*/
.header {
  display: flex;
  align-items: center;
  background-color: #616689;
  padding: 10px;
}

.logo {
  width: 250px;
  margin: 0 auto;
}

.subheader {
  color: white;
  background-color: black;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10;
}

ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


li {
  list-style: none;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

svg:hover {
  cursor: pointer;
  fill: rgb(75, 4, 4);
}

/*Home content*/

.home-content {
  display: grid;
  grid-template-columns: 50% 50%;

}

.penguin-wrapper {
  overflow: hidden;
  height: 100%;
}



.home-content .penguins {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* ensures it fills its cell without distortion */
  transition: transform 0.3s ease;
}

.penguins:hover {
  transform: scale(1.05);
}

.mission {
  color: white;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(100, 72, 72);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

@media (max-width: 768px) {
  .home-content {
    grid-template-columns: 1fr;

  }


}

.shop-btn {
  display: block;
  margin: 2rem auto;
  padding: 5px;
  font-weight: bold;
  color: bisque;
  background-color: rgb(100, 72, 72);
  transition:
    transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
  border: 2px solid navajowhite;

}

.shop-btn:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.shop-btn:active {
  /* push down slightly */
  transform: translateY(1px);
  /* inset shadow to simulate depth */
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}

/*Footer*/

.footer {
  color: white;
  background-color: rgb(96, 93, 93);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}

.left-footer {
  font-family: 'Raleway', sans-serif;
}

.right-footer {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.useful-links,
.contact {
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footest {
  color: white;
  background-color: rgb(100, 72, 72);
  text-align: center;
  padding: 2px;
}

/*Links*/

.hdr-shop-lnk {
  text-decoration: none;
  color: white;
}

/*Shop page*/

.category-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.men-btn,
.wmn-btn {
  padding: 5px;

  border: 2px solid #616689;
}

.men-btn:hover,
.wmn-btn:hover {
  color: white;
  background-color: #616689;
  cursor: pointer;
}

.active {
  color: white;
  background-color: #616689;
}