/*Header*/
.header {
  display: flex;
  align-items: center;
  background-color: #616689;
  padding: 10px;
}

.logo {
  width: 250px;
  margin: 0 auto;
}

.subheader {
  color: white;
  background-color: black;
  height: 50px;
}

ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


li {
  list-style: none;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

svg:hover {
  cursor: pointer;
  fill: rgb(75, 4, 4);
}